
body{
    background-image: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(background.jpg);
    height: 96vh;
    
    background-size: cover;
    background-position: center;
    
}
#card-title{
 
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size:25px;
    text-align: end;
    width: 75%;
    transition:1s;
    
}
#card-title:hover{
    transform: scaleY(3);
    transform:scaleX(1.2);
    color:red;
    
}

@media screen and (max-width: 700px){
    .card-search input:hover {
        -webkit-transform:scale(1.5);
        -moz-transform:scale(1.5);
        -ms-transform:scale(1.5);
        transform: none !important;
        transition: none !important;
        
    }
}
.card-contacts-left-right{
    margin:auto;
    margin-bottom: 5%;
    font-family: "Roboto", sans-serif;
    border-radius:20px;
    background: rgba(255, 255, 255, 0.6);
    width: 97%;
    height: 97%;
}
.card-contacts-left{
    width:50%;
    margin:auto;
    float:left;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    
    
}

@media (max-width:700px){
       .card-contacts-left{
       width: 100%;
       display: inline-block;
       float:none;  
    }
    .card-contacts-right{
        
        float:none;
        background:white;
		padding:5%;
		border-radius:15px;
		  background: rgba(255, 255, 255, 0.6);
		  margin-top:15px;
    }
    .card-export a{
    color: #f2f2f2 !important;
    background-color:red !important;
       
    }
    
}
ul{
    list-style: none;
}

.card-search input{
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 87%;
    border: 10px;
    text-align: center;
    padding: 15px;
    font-size:17px;
    border-radius: 10px;
    margin-left: 6%;
    margin-top: 30px;
    transition: all 1s;
}
.card-search input:hover{
    font-weight: bold;
    transform: scale(1.1);
}
.card-contacts-list{

    background-color:#f2f2f2;
    overflow:auto;
    
    box-sizing: border-box;
    width: 87%;
    height: 60%;
    margin-right:7%;
    margin-top:14px;
    margin-left:5.9%;
    padding: 5px;
    border-radius: 15px;
}
.card-contacts-list ul{
    padding-left: 0px;
    
}
.card-contacts-list ul li{
    color:black;
    background-color: #f2f2f2;
    padding: 15px;
    border-bottom: 1px solid grey;
}
::-webkit-scrollbar{
   visibility: hidden;
}

.card-export {
    
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background-color:rgba(35, 38, 48, 0.3);
    border-radius: 15px;
    border: 0;
    margin-top:5%;
    margin-right:7%;
    color: black;
    padding:15px;
    font-size:14px;
    cursor: pointer;
    transition:all 1s;
    
}


.card-export a {
    border-radius: 20px;
    text-decoration: none;
    color: black;
    padding:3px;
    background-color:rgba(80, 4, 30, 0.507);
   font-family: "Roboto", sans-serif;
   z-index:1;
}

.card-export a:hover{
    background-color:rgba(10, 220, 248, 0.692);
    font-weight: bold;
    
}

.card-export{
    margin-top:3%;
    margin-left: 3%;
}

#card-new-contact-btn{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color:rgba(35, 38, 48, 0.3);
    border-radius: 15px;
    border: 0;
    margin-top:3%;
    margin-left:5%;
    color: black;
    padding:15px;
    font-size:14px;
    cursor: pointer;
    transition:all 1s;
    display:flex;
    justify-content: flex-start;
    
}
#card-new-contact-btn:hover,.card-export-btn:hover{
    background-color:rgba(35, 38, 48, 0.1);
    font-weight: bold;
}

.card-contacts-left-buttons  {
    display:flex;
    justify-content:space-between;
}

@media (max-width:700px){
  #card-new-contact-btn{
      margin-top:1%;
      margin-left:27%;
  }
  .card-export a{
      display:flex;
      justify-content: space-between;
  }
}

.card-contacts-right  {
    display:flex;
    flex-direction: column;
}
.card-contacts-right form{
    margin-left:10%;
    margin-right:10%;
}
.card-contacts-right div{
    display:flex;
    justify-content: space-between;
    padding:7px;   
    margin-top:3%;
    margin-left:10%;
    margin-right:10%;
    border-radius: 50px;
    border-color: black;
}
.card-contacts-right input{
    border-radius: 30px;
}
input[type="file"]{
    display:none;
}
.btn-pictures{
    display: inline-block;
    padding:6px;
    cursor: pointer;
    border-radius: 15px;
}
.btn-pictures:hover{
    background-color: aqua;
}
.card-contacts-right button{
    border:2px double mediumslateblue;
    border-radius:10px;
    padding :1%;
    margin-left: 40%;
    margin-top:3%;
    font-size: 20px;
}
.card-footer{
    background:url(background.jpg);
    text-align: center;
    color:black;
    padding:15px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin: 0 25% 0 25%;
    border-radius:10px;
    transition: all 1s;
	position:relative;
}
@media (min-width:700px){
.card-footer:hover{
    color:grey;
}

}


