
body{
    background-image: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(background.jpg);
    height: 96vh;
    
    background-size: cover;
    background-position: center;
    
}
#card-title{
 
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size:25px;
    text-align: end;
    width: 75%;
    transition:1s;
    
}
#card-title:hover{
    transform: scaleY(3);
    transform:scaleX(1.2);
    color:red;
    
}

.card-login-register{
    width: 360px;
    margin:auto;
}
.card-form{
    position: relative;
    z-index: 1;
    background-color:rgba(35, 38, 48, 0.1);
    max-width:360px;
    margin:0 auto 100px;
    padding:45px;
    text-align:center;
}
.card-form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size:14px;
    transition: all 1s;
}
.card-form input:hover {
    font-weight: bold; 
    transform: scale(1.2);
}
.card-form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: url(background.jpg);
    width: 100%;
    border: 0;
    padding:15px;
    color: #FFFFFF;
    font-size:14px;
    cursor: pointer;
    transition:all 1s;
}
.card-form button:hover{
    transform: scale(1.2);

}
.card-form label{ 
    display: none;
    font-size:14px;
    color:#f2f2f2;
    font-family: "Roboto",sans-serif;
    
}
#card-reg-terms,.card-message{
    display: block;
    color:#f2f2f2;
    padding:25px;
    font-size:14px;
    font-family: "Roboto",sans-serif;
    transition: all 1s;
}
#card-reg-terms:hover,.card-message:hover{
    transform: scale(1.2);
}
.card-message a{
    text-decoration: none;
    color:red;
}
.card-form-register{
    display: none;
}

.card-form-login{
    display: none;
}


@media screen and (max-width: 700px){
    #card-title,
    .card-form button,
    .card-form input,
    .card-message, 
    #card-reg-terms,
    .card-search input:hover {
        -webkit-transform:scale(1.5);
        -moz-transform:scale(1.5);
        -ms-transform:scale(1.5);
        transform: none !important;
        transition: none !important;
        
    }
    }

.card-contacts-left-right{
    margin:auto;
    margin-bottom: 5%;
    font-family: "Roboto", sans-serif;
    border-radius:20px;
    background: rgba(255, 255, 255, 0.6);
    width: 97%;
    height: 97%;
}
.card-contacts-left{
    width:50%;
    margin:auto;
    float:left;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    
    
}

@media (max-width:700px){
    .card-contacts-left{
       width: 100%;
       display: block;
       float:none;  
    }
    .card-contacts-right{
        display: none;
    }
    .card-export a{
    color: #f2f2f2 !important;
    background-color:red !important;
       
    }
    
}
ul{
    list-style: none;
}
.card-contacts-right{

    float:left;
   
    background:0;
}
.card-search input{
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 87%;
    border: 10px;
    text-align: center;
    padding: 15px;
    font-size:17px;
    border-radius: 10px;
    margin-left: 6%;
    margin-top: 30px;
    transition: all 1s;
}
.card-search input:hover{
    font-weight: bold;
    transform: scale(1.1);
}
.card-contacts-list{

    background-color:#f2f2f2;
    overflow:auto;
    
    box-sizing: border-box;
    width: 87%;
    height: 60%;
    margin-right:7%;
    margin-top:14px;
    margin-left:5.9%;
    padding: 5px;
    border-radius: 15px;
}
.card-contacts-list ul{
    padding-left: 0px;
    
}
.card-contacts-list ul li{
    color:black;
    background-color: #f2f2f2;
    padding: 15px;
    border-bottom: 1px solid grey;
}
::-webkit-scrollbar{
   visibility: hidden;
}

.card-export-btn{
    
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background-color:rgba(35, 38, 48, 0.3);
    border-radius: 15px;
    border: 0;
    margin-left:6%;
    margin-top:5%;
    color: black;
    padding:15px;
    font-size:14px;
    cursor: pointer;
    transition:all 1s;
    display: relative;
    
}
.card-export-btn:hover .card-export a{
    display: block;
}

.card-export a {
    border-radius: 20px;
    text-decoration: none;
    color: black;
    padding:3px;
    margin-left:7px;
    margin-right: 5px;
    background-color:rgba(35, 38, 48, 0.3);
   font-family: "Roboto", sans-serif;
   display: relative;
   z-index:1;
}

.card-export a:hover{
    background-color:rgba(35, 38, 48, 0.1);
    font-weight: bold;
    
}

.card-export{
    margin-top:3%;
    margin-left: 3%;
}

#card-new-contact-btn{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background-color:rgba(35, 38, 48, 0.3);
    border-radius: 15px;
    border: 0;
    margin-left:52%;
    margin-top:3%;
    color: black;
    padding:15px;
    font-size:14px;
    cursor: pointer;
    transition:all 1s;
    display: relative;
    
}
#card-new-contact-btn:hover,.card-export-btn:hover{
    background-color:rgba(35, 38, 48, 0.1);
    font-weight: bold;
}
@media (max-width:700px){
  #card-new-contact-btn{
      margin-top:1%;
      margin-left:27%;
  }
}


